.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-thq-footersocial-link-elm1 {
  text-decoration: none;
}
 
.footer-thq-footersocial-link-elm2 {
  text-decoration: none;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}
 
.footer-thq-footersocial-link-elm4 {
  text-decoration: none;
}
 
.footer-thq-footernav-item-elm5 {
  text-decoration: none;
}
 
.footer-container6 {
  display: none;
}
 
.footer-container7 {
  display: contents;
}
 
.footer-container8 {
  display: none;
}
 
.footer-container9 {
  display: contents;
}
