.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-thq-hero-elm {
  height: 949px;
}
 
.home-thq-btn-elm1 {
  text-decoration: none;
}
 
.home-thq-herocontact-card-elm {
  text-decoration: none;
}
 
.home-thq-collagequick-links-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-thq-event-title-elm {
  animation: gentlePulse 2.5s ease-in-out infinite;
  text-align: center;
  animation-name: gentlePulse;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
 
.home-text18 {
  animation: pulse 2s ease-in-out infinite;
  text-align: justify;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
 
.home-text19 {
  text-align: justify;
}
 
.home-text20 {
  animation: pulse 2s ease-in-out infinite;
  text-align: justify;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
 
.home-thq-btn-elm2 {
  text-decoration: none;
}
 
.home-container4 {
  display: none;
}
 
.home-container5 {
  display: contents;
}
 
.home-container6 {
  display: none;
}
 
.home-container7 {
  display: contents;
}
 
.home-container8 {
  display: none;
}
 
.home-container9 {
  display: contents;
}
 
@media(max-width: 991px) {
  .home-image2 {
    height: 317px;
  }
  .home-image3 {
    height: 273px;
  }
}
 
@media(max-width: 767px) {
  .home-image2 {
    height: 443px;
  }
  .home-thq-collageimage-elm3 {
    height: 369px;
    padding-bottom: 0px;
  }
  .home-image3 {
    height: 414px;
  }
}
 
@media(max-width: 479px) {
  .home-thq-hero-elm {
    height: 1214px;
  }
  .home-thq-herocontainer-elm {
    height: 1077px;
  }
  .home-thq-herocontent-elm {
    height: 560px;
    padding-bottom: 0px;
  }
  .home-thq-visual-collage-elm {
    height: 876px;
  }
  .home-image2 {
    top: 0px;
    left: 0px;
    height: 324px;
    position: absolute;
    border-color: var(--color-on-surface);
    border-width: 1px;
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .home-image3 {
    width: 373px;
    height: 250px;
  }
  .home-thq-why-us-elm {
    height: 1517px;
  }
  .home-thq-mediavideo-elm {
    height: 451px;
  }
}
