.navigation-container10 {
  display: contents;
}
 
.navigation-container11 {
  display: none;
}
 
.navigation-container12 {
  display: contents;
}
 
.navigation-thq-navigation-link-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm3 {
  text-decoration: none;
}
 
.navigation-container16 {
  display: none;
}
 
.navigation-container17 {
  display: contents;
}
 
.navigation-thq-thq-navigation-mobile-icon-elm1-elm {
  top: 50%;
  left: 50%;
  color: var(--color-primary);
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all var(--animation-duration-standard) var(--animation-curve-primary);
  visibility: visible;
}
 
.navigation-thq-thq-navigation-mobile-icon-elm2-elm {
  top: 50%;
  left: 50%;
  color: var(--color-primary);
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all var(--animation-duration-standard) var(--animation-curve-primary);
  visibility: hidden;
}
 
.navigation-container19 {
  text-decoration: none;
}
 
.navigation-container28 {
  display: none;
}
 
.navigation-container29 {
  display: contents;
}
 
.navigation-container30 {
  display: none;
}
 
.navigation-container31 {
  display: contents;
}
 
.navigation-container32 {
  display: none;
}
 
.navigation-container33 {
  display: contents;
}
 
.navigation-container34 {
  display: none;
}
 
.navigation-container35 {
  display: contents;
}
 
.navigation-container36 {
  display: none;
}
 
.navigation-container37 {
  display: contents;
}
 
.navigation-container38 {
  display: none;
}
 
.navigation-container39 {
  display: contents;
}
 
.navigation-container40 {
  display: none;
}
 
.navigation-container41 {
  display: contents;
}
 
.navigation-container42 {
  display: none;
}
 
.navigation-container43 {
  display: contents;
}
 
@media(max-width: 479px) {
  .navigation-thq-navigation-mobile-toggle-elm {
    padding-bottom: 0px;
  }
}
